body{
    margin: 0;
}

#teste{
    width: 300px;
    height: 300px;
    background-color: rgb(179, 215, 122);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 100px;
    margin-left: 100px;
}