body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
h1{
    color: #333;
    text-align: center;
}
ul{
    list-style-type: square;
    padding-left: 20px;
}
li{
    margin-bottom: 10px;
    color: #555;
    padding: 5px;
    background-color: #e4b8ea;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
}
dl{
    margin-top: 20px;
}
dt{
    font-weight: bold;
    color: hsl(326, 55%, 71%);
    margin-top: 10px;
    background-color: rgb(116, 27, 128);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 221px;
}       
dd{
    margin-left: 20px;
    color: #555;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
}