body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #aea8a8;
}

header{
    max-width: 100%;
    height: 180px;
    background-color: #333;
    color: #fff;
    display: flex;
}
aside{
    width: 200px;
    height: 100vh;
    background-color: #eee;
    padding: 20px;
}
footer{
    max-width: 100%;
    height: 120px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    min-height: 600px;
}