body{
    margin: 0;

}
.example{
    width: 200px;
    height: 200px;
    background-color: hsl(316, 49%, 58%);
    margin: auto;
    margin-top: 100px;
    transition: all 0.5s ease;
}
.example:hover{
    width: 300px;
    height: 300px;
    background-color: hsl(316, 49%, 82%);
}

a {
    color: hsl(316, 73%, 41%);
    transition: all 0.5s ease;
}
a:hover{
    color: hsl(314, 25%, 19%);
}