:root{
    --bg-color: rgb(233, 177, 177);
    --bg-second: rgb(177, 74, 74);
    --font-color: rgb(22, 21, 22);
}

body{
    background-color: var(--bg-color);
}
h1{
    color: var(--font-color);
       
}
.container{
    background-color: var(--bg-second);
    color: var(--font-color);
}