body{
    margin: 0;
    padding: 0;
}
.container{
   
    width: calc(100% - 20px);
    height: 200px;
    background-color: #8b8888;
    
}
.box{
    width: 90px;
    height: 20px;
    background-color: #8b8888;
    margin: 10px;
}