:root{
    --bg-color: rgb(131, 131, 131);
    --bg-second: rgb(226, 221, 221);
    --font-color: rgb(22, 21, 22);
    --font-size: 25px;

}

body{
    background-color: var(--bg-color);
    font-size: var(--font-size);
}
h1{
    color: var(--font-color);
       
}
.container{
    background-color: var(--bg-second);
    color: var(--font-color);
}

@media (max-width: 500px){
    :root{
              --font-size: 15px;
    }
    
}