.video{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}
.video-area{
    position: relative;
    height: 0px;
    padding: 0px 0px 56.25%; /* 16:9 aspect ratio */

}
.video-area iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;

}

