body{
        margin: 0;  
        display: flex;
     
 
}

div {
        width: 100px;
        height: 100px;
        border: 3px solid black;
}

@media (orientation: portrait) {
        body {
        flex-direction: column;
        }
}
@media (orientation: landscape) {
     body {
        flex-direction: row;
        }
}